.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-color-primary);
  min-height: 100vh;
  margin: 0;
}

.title {
  display: flex;
  position: relative;
  top: 0;
  padding-top: 25px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  margin: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
}

.ligne {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;

  p {
    margin: 0;
  }

  img {
    max-width: 15vw;
    min-width: 100px;
    height: auto;
    margin-bottom: 15px;
  }
}

.date {
  font-weight: bold;
}
