.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 80px;
  overflow-x: hidden;
}

.title {
  display: flex;
  padding-top: 25px;
}

.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
  margin: 25px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ligne {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 8px;

  p {
    margin: 0;
  }
}

.date {
  font-weight: bold;
}

.posterLink {
  position: relative;
  display: block;
  width: 80px;
  height: 120px;
  margin-top: 10px;

  img {
    object-fit: cover;
    border-radius: 4px;
  }
}

.butterfly1 {
  top: 130px;
  right: 8%;
  transform: rotate(20deg);
}

.butterfly2 {
  bottom: 20%;
  left: 5%;
  transform: rotate(-15deg);
}
