.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-width: 100dvw;
  min-height: 8vh;
  background: var(--bg-secondary);
  color: var(--text-light);
  font-size: small;
  font-style: italic;
  font-weight: 200;
  padding: 1vh 0;

  a {
    color: var(--accent-gold);
    text-decoration: none;

    &:hover {
      color: var(--text-light);
    }
  }
}

.designedBy {
  margin: 10px 0;
}

.copyright {
  font-weight: 100;
  color: rgba(211, 211, 211, 0.515);
  display: flex;
  align-items: center;
  gap: 5px;
}
