.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.navButton {
  display: flex;
  height: 10vh;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  flex-shrink: 0;
  background: none;
  border: none;
  padding: 0;

  &:hover:not(:disabled) {
    transform: scale(1.1);
  }

  &:disabled {
    opacity: 0;
    cursor: default;
  }
}

.imageContainer {
  position: relative;
  flex: 1;
  max-width: 80%;
  height: 60vh;
  margin: 0 auto;

  img {
    object-fit: contain;
  }
}

.creditPhoto {
  font-size: small;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
}
