@use "../styles/variables" as *;

.wrapper {
  display: grid;
  grid-template-columns: 40px 1fr 40px;
  align-items: center;
  width: 100%;
}

.navButton {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
  background: none;
  border: none;
  padding: 0;

  &:hover:not(:disabled) {
    transform: scale(1.1);
  }

  &:disabled {
    opacity: 0;
    cursor: default;
  }
}

.mainImage {
  display: block;
  width: 100%;
  height: auto;
  max-height: 80dvh;
  object-fit: contain;
  margin: 0 auto;

  @media (max-width: $breakpoint-md) {
    max-height: 50dvh;
  }
}

.creditPhoto {
  font-size: small;
  font-weight: lighter;
  font-style: italic;
  text-align: center;
}
