.modal {
  max-width: 600px;
}

.wrapper {
  position: relative;
}

.btnClose {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 10;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  padding: 2rem 1rem;
}

.photoPopup {
  position: relative;
  width: 200px;
  height: 30vh;
  margin: 10px 0;

  img {
    object-fit: cover;
  }
}

.role {
  color: rgb(255, 180, 68);
}

.biographie {
  width: 90%;
  text-align: justify;
}

.finModal {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 90%;
}

.spectaclesList {
  display: flex;
  flex-direction: column;
  align-items: center;

  ul {
    list-style: none;
    padding: 0;
    text-align: center;

    li {
      margin: 0;
    }
  }
}

.cvLink {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: black;
  cursor: pointer;

  p {
    margin: 0;
  }
}

.verticalBar {
  width: 0.5px;
  background-color: lightgray;
  margin-top: 1em;
  margin-bottom: 1em;
}
