@use "../styles/variables" as *;

.card {
  display: flex;
  width: $card-width-member;
  margin: $spacing-xs;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  border: none;
  padding: 0;
  background: none;

  &:focus {
    outline: 3px solid $color-accent-gold;
    outline-offset: 2px;
  }
}

.image {
  width: 100%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.description {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  color: $color-text-light;
  transition: all $transition-slow;
  top: 0;
  left: 0;
}

.card:hover .description,
.card:focus .description {
  opacity: 1;
  background-color: $color-overlay-dark;
}

.nomPrenom {
  margin: 0;
  font-weight: $font-weight-semibold;
}

.role {
  color: $color-accent-gold;
  margin: 0;
}
