.card {
  display: flex;
  width: 25em;
  margin: 5px;
  position: relative;
  cursor: pointer;
  border-radius: var(--bs-border-radius);
  overflow: hidden;
}

.image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: var(--bs-border-radius);
  transition: all 0.2s ease-in-out;

  &:hover {
    opacity: 1;
    background-color: rgba(3, 3, 3, 0.593);
  }
}
