@use "../styles/variables" as *;

.card {
  display: flex;
  width: $card-width-spectacle;
  margin: $spacing-xs;
  position: relative;
  cursor: pointer;
  border-radius: $border-radius-md;
  overflow: hidden;
}

.image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: $border-radius-md;
  transition: all $transition-base;

  &:hover {
    opacity: 1;
    background-color: $color-overlay-dark;
  }
}
