.wrapper {
  position: relative;
  padding-top: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

.cardGrid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 70%;
  gap: 15px;

  @media (max-width: 768px) {
    width: 90%;
  }

  @media (max-width: 576px) {
    width: 100%;
    padding: 0 1rem;
  }
}

.butterfly1 {
  top: 120px;
  left: 4%;
  transform: rotate(-10deg);
}

.butterfly2 {
  bottom: 15%;
  right: 6%;
  transform: rotate(25deg);
}
